{{ define "base" }}
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<meta charset="utf-8">
		{{ template "head" . }}
	</head>
	<body>
		<header class="container">
			<nav>
				<ul><li><strong>Hi, I'm Tyler</strong></li></ul>
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/tag/til.html">TIL</a></li>
					<li><a href="/archive.html">Archive</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			{{ if .Flash }}
			<article> {{ .Flash }} </article>
			{{ end }}
			{{ template "body" . }}
		</main>
	</body>
</html>
{{ end }}
